@charset "utf-8";
/* CSS Document */

BODY{
	font-family:Verdana, Geneva, sans-serif;
	font-size: .6em;
	background: url('images/background.png') fixed repeat-x #000;
}

.client{
	width: 92%;  
	background-color: #ccc;
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border: 1px solid silver;
	padding: 10px;
	margin-bottom: 4px;
	margin-left: 4px;
}

.detail{
	position: absolute;
	width: 470px;  
	background-color: #ccc;
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border: 1px solid silver;
	padding: 10px;
	margin-bottom: 4px;
}

.wrapper{
	width: 800px; 
	margin: 0px auto 0px auto; 
	padding-top: 8px;
}